main {
  background-color: #f3f3f3;
}

.container {
  display: flex;
  height: 74vh;
}

.column-left {
  width: 20%;
}

.column-right {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-right h2 {
  font-size: large;
}
