<app-header-creador></app-header-creador>
<main class="py-36 flex items-center justify-center">
  <div class="bg-white p-8 shadow-lg w-full max-w-6xl">
    <h2 class="text-xl font-bold text-center text-[#ee8326] lg:mb-4 mb-14">
      Datos de Mi Perfil
    </h2>

    <div class="lg:flex">

      <!-- Columna izquierda (1/4 parte) -->
      <div class="lg:w-1/4  flex flex-col items-center justify-center mt-[-35px] relative">
        <!-- Imagen que actúa como botón para seleccionar archivo -->
        <label for="fileInput" class="w-36 h-36 rounded-full overflow-hidden mb-4 cursor-pointer relative">
          <!-- Imagen de perfil con efecto hover -->
          <img
            [src]="creadorDTO.fotoPerfil ? (urlImages + creadorDTO.fotoPerfil) : '/default-profile-image.jpg'"
            alt="Foto de perfil"
            class="w-full h-full object-cover transition duration-300 ease-in-out"
          />
          <!-- Efecto hover -->
          <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 hover:opacity-100 transition-opacity duration-300 ease-in-out">
            <span class="text-white text-3xl font-bold">+</span>
          </div>
        </label>
        <p class="font-bold mb-6">Creador</p>
        <!-- Input de archivo oculto -->
        <input
          (change)="onFileSelected($event)"
          id="fileInput"
          class="hidden"
          type="file"
          accept="image/*"
          required
        />

        @if (statusImagenPerfil) {
          <div class="text-start error-message text-red-500 text-sm -mt-3 mb-4 ml-2">{{ errorImagenPerfil }}</div>
        }
      </div>

      <!-- Columna derecha (3/4 partes) -->
      <div class="lg:w-3/4 text-justify ml-10">
        <h3 class="text-lg font-bold text-[#ee8326] mb-4">
          Información Personal
        </h3>

        <div class="space-y-4">
          <div class="flex">
            <div class="w-1/2">
              <label for="nombre" class="block font-bold text-sm mb-2"
                >Nombre:
              </label>
              <input
                type="text"
                id="nombre"
                class="p-2 border border-gray-300 rounded-lg w-full"
                readonly
                [value]="creadorDTO.nombre"
              />
            </div>
            <div class="w-1/2 ml-8">
              <label for="codigo" class="block font-bold text-sm mb-2"
                >Código de Colegiado:
              </label>
              <input
                type="text"
                id="codigo"
                class="p-2 border border-gray-300 rounded-lg w-full"
                readonly
                [value]="creadorDTO.codigoColegiatura"
              />
            </div>
          </div>

          <div class="flex">
            <div class="w-1/2">
              <label for="apellido-paterno" class="block font-bold text-sm mb-2"
                >Apellido Paterno:
              </label>
              <input
                type="text"
                id="apellido-paterno"
                class="p-2 border border-gray-300 rounded-lg w-full"
                readonly
                [value]="creadorDTO.apellidoPaterno"
              />
            </div>
            <div class="w-1/2 ml-8">
              <label for="apellido-materno" class="block font-bold text-sm mb-2"
                >Apellido Materno:
              </label>
              <input
                type="text"
                id="apellido-materno"
                class="p-2 border border-gray-300 rounded-lg w-full"
                readonly
                [value]="creadorDTO.apellidoMaterno"
              />
            </div>
          </div>
        </div>

        <h3 class="text-lg font-bold text-[#ee8326] mt-8 mb-4">
          Información de Cuenta
        </h3>

        <div class="space-y-4">
          <div class="flex">
            <div class="w-1/2">
              <label for="email" class="block font-bold text-sm mb-2"
                >Correo Electrónico:</label
              >
              <input
                type="email"
                id="email"
                class="p-2 border border-gray-300 rounded-lg w-full"
                readonly
                [value]="creadorDTO.correoElectronico"
              />
            </div>
            <div class="w-1/2 ml-8">
              <label for="contrasenia" class="block font-bold text-sm mb-2"
                >Contraseña:</label
              >
              <input
                type="password"
                id="contrasenia"
                class="p-2 border border-gray-300 rounded-lg w-full"
                readonly
                value="*************"
              />
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  @if(mostrarModalNoDatosPerfil){
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center">
      <div class="bg-white p-6 rounded-3xl shadow-2xl w-72 sh">
        <p class="text-2xl font-semibold mb-4 text-center" style="color: #64B43E">Ups!..</p>
        <div class="mx-auto">
          <p class="text-justify">Los datos no se pueden mostrar debido a que no hay ninguna cuenta vinculada.</p>
        </div>
        <div class="flex justify-center">
          <button (click)="cerrarModalSesionExpirada()" class="bg-[#ee8326] hover:bg-[#c76d21] font-semibold text-white px-6 py-1 mt-5 text-lg rounded-2xl">Empezar</button>
        </div>
      </div>
    </div>

  }






</main>
