<header class="bg-white h-28 lg:block hidden">
  <nav class="flex justify-center items-center space-x-24">

    <div class="nav-words">
      <a
         [routerLink]="['/categoria']"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact: true}"
         class="font-bold text-2xl mt-5 relative text-[#64b43e] hover:text-[#407d2e] transition duration-300 ease-in-out"
      >
        Explorar Recetas
        <span class="block absolute bottom-[-20px] left-[-10%] w-[120%] h-1 bg-[#ee8326] transition-transform transform scale-x-0"
              [ngClass]="{'scale-x-100': isActiveCategoria()}">
        </span>
      </a>
    </div>

    <div class="mx-9 mt-4">
      <a [routerLink]="['/gestionDeRecetas']">
        <img src="/logo_FoodHub.png" alt="Logo FoodHub" class="max-h-20" />
      </a>
    </div>


    <div class="nav-words">
      <a [routerLink]="['/ingresar/gestionDeRecetas']"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact: true}"
         class="font-bold text-2xl mt-5 relative text-[#64b43e] hover:text-[#407d2e] transition duration-300 ease-in-out"
      >
        Mis Recetas
        <span class="block absolute bottom-[-20px] left-[-10%] w-[120%] h-1 bg-[#ee8326] transition-transform transform scale-x-0"
              [ngClass]="{'scale-x-100': isActive('/ingresar/gestionDeRecetas')}">
        </span>
      </a>
    </div>

    <div class="absolute right-2 flex items-center mt-3">
      <a [routerLink]="['/ingresar/miPerfil']">
        <img
          [src]="creadorDTO.fotoPerfil ? (urlImages + creadorDTO.fotoPerfil) : '/default-profile-image.jpg'"
          alt="Foto de perfil"
          class="w-14 h-14 object-cover transition duration-300 ease-in-out rounded-full mr-10"
        />
      </a>
    </div>

  </nav>
</header>

<header class="bg-white h-28 lg:hidden ">
  <nav class="flex justify-center items-center space-x-6">

    <div class="mx-2 mt-4">
      <img src="/logo_FoodHub.png" alt="Logo FoodHub" class="max-h-20" />
    </div>

    <div class="nav-words mt-5">
      <a
         [routerLink]="['/categoria']"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact: true}"
         class="font-bold text-2xl mt-5 relative text-[#64b43e] hover:text-[#407d2e] transition duration-300 ease-in-out"
      >
        <span class="block">Explorar</span>
        <span class="block">Recetas</span>
        <span class="block absolute bottom-[-10px] left-[-10%] w-[120%] h-1 bg-[#ee8326] transition-transform transform scale-x-0"
              [ngClass]="{'scale-x-100': isActiveCategoria()}">
        </span>
      </a>
    </div>

    <div class="nav-words mt-5">
      <a [routerLink]="['/ingresar/gestionDeRecetas']"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact: true}"
         class="font-bold text-2xl mt-5 relative text-[#64b43e] hover:text-[#407d2e] transition duration-300 ease-in-out"
      >
        <span class="block">Mis</span>
        <span class="block">Recetas</span>
        <span class="block absolute bottom-[-10px] left-[-10%] w-[120%] h-1 bg-[#ee8326] transition-transform transform scale-x-0"
              [ngClass]="{'scale-x-100': isActive('/ingresar/gestionDeRecetas')}">
        </span>
      </a>
    </div>

    <div class=" flex items-center mt-5">
      <a [routerLink]="['/ingresar/miPerfil']">
        <img
          [src]="creadorDTO.fotoPerfil ? (urlImages + creadorDTO.fotoPerfil) : '/default-profile-image.jpg'"
          alt="Foto de perfil"
          class="w-14 h-14 object-cover transition duration-300 ease-in-out rounded-full mr-10"
        />
      </a>
    </div>

  </nav>
</header>



